<section class="bg-light" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">About Me</h2>
        <hr class="primary">

        <!-- <%= image_tag("me.jpeg", :class => "profile-pic") %> -->
        <p class="text-left">
          As a child I always wanted to be an inventor and now follow my dream by building meaningful code. I write readable and maintainable code that implements good practices. I thrive in picking up new skills and technologies at a very fast pace and am a true team player. I communicate with clarity and empathy with everyone I work with and give feedback that is Actionable, Specific and Kind. Although I value my contributions as an independent worker, I care more about the mission trying to be achieved and succeeding as a team.
          <br><br>
          Other than programming, I am a painter, gamer and a person that loves to travel and go hiking. As a painter, I try to create paintings that touch the emotions of those who see them. As a gamer, I enjoy playing all genres of games, I love challenges. As a person who travels, my favorite scenes are waterfalls and cityscapes with bodies of water. I enjoy taking photos and videos of places I visit and producing videos summarizing my experience. If given the opportunity I can bring technical skills to the team along with cultural impact and postive energy.
        </p>

      </div>
    </div>
  </div>
</section>