<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Let's get in touch!</h2>
        <hr class="primary">
        <br>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-4">
        <i class="fa fa-phone fa-3x sr-contact"></i>
        <p>(209) 513-8324</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-map-marker fa-3x sr-contact"></i>
        <p>I am located in <br>San Francisco Bay Area</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <p><a href="mailto:earlsabal@gmail.com">earlsabal@gmail.com</a></p>
      </div>
    </div>
  </div>
</section>