<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading" class="outline">Data Engineer | Back-End Software Engineer</h1>
      <hr class="light">
      <p class="outline">San Francisco Bay Area</p>
      <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">My Projects</a>
    </div>
  </div>
</header>