<aside class="bg-dark" id="resume">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Resume</h2>
      <hr class="light">
      <%= link_to "Download My Resume", download_resume_path, :class => "btn btn-default btn-xl sr-button" %>
    </div>
  </div>
</aside>
