<section id="skills">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Skills</h2>
        <hr class="primary">
      </div>

      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-book text-primary sr-icons"></i>
          <h3>Languages</h3>
          <p class="text-muted">Ruby, Java, JavaScript, HTML, CSS, Elixir</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-cogs text-primary sr-icons"></i>
          <h3>Frameworks</h3>
          <p class="text-muted">Rails, Sinatra, Play, Phoenix, React</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-database text-primary sr-icons"></i>
          <h3>Databases</h3>
          <p class="text-muted">SQL (PosgresSQL, SQLite), Active Record</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-laptop text-primary sr-icons"></i>
          <h3>Techniques</h3>
          <p class="text-muted">OOP, MVC, Multi-threading, TDD, CRUD and RESTful Design</p>
        </div>
      </div>

    </div>
  </div>
</section>