<div class="col-lg-8text-center bg-dark footer-content">
  <ul class="footer-icons">
    <li class="icon">
      <a href="https://www.linkedin.com/in/earlsabal"><%= image_tag("linkedin.png") %></a>
    </li>
    <li class="icon">
      <a href="https://www.github.com/earlsabal"><%= image_tag("github.png") %></a>
    </li>
  </ul>
  <p class="copyright">Copyright © Earl Sabal 2017</p>
</div>
<footer class="footer"></footer>